* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    background-color: #8ce2cf;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #444;
    text-align: center;
}

ul {
    list-style: none;
    padding: 1rem;
}

li {
    display: inline;
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    text-align: center;
    margin: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #fff;
}
